<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Robot Directory</title>
    <!-- <link type="text/css" src="~/public/directory.css"> -->
  </head>
  <body>
    <h1>Robot Directory</h1>
    <div class="container">
      {{#users}}
      <div class="robot">
        <img class="pic" src='{{avatar}}' alt="robot picture">
        <p class="name">{{name}}</p>
        <p class="title">
          {{#job}}
            {{job}}, 
          {{/job}}
          {{^job}}
            Available for hire
          {{/job}}
          {{#company}}
            {{company}}
          {{/company}}
          {{^company}}

          {{/company}}
        </p>
      </div>
      {{/users}}
    </div>

  </body>
</html>
